{% load menu_tags cms_tags %}
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Daniel Ramos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="social">{% spaceless %}
    <a href="https://github.com/danielzk">
      <i class="fab fa-github"></i>
    </a>
    <a href="#">
      <i class="fab fa-facebook-square"></i>
    </a>
  {% endspaceless %}</div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% show_menu 0 100 100 100 "includes/menu.html" %}
    {% static_placeholder 'navbar_menu' %}
  </div>
</nav>
