@import 'variables';
@import 'bootstrap';

body {
  //font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1.5rem;
}

.navbar {
  .social {
    line-height: 1;
    position: absolute;
    right: 320px;
    top: 12px;
    width: 74px;
    a {
      color: #fff;
      display: inline-block;
      font-size: 18px;
      padding: 7px;
      color: $navbar-dark-hover-color;
      &:hover {
        color: $navbar-dark-active-color;
      }
    }
    @include media-breakpoint-down(md) {
      right: 82px;
    }
  }
}

.main-content {
  padding-top: 15px;
}

#page-footer {
  background: #fff;
  color: #444;
  font-size: 16px;
  padding: 30px;
  text-align: center;
}

.blog-search-form .search-input {
  border: 1px solid #fff;
}

.rss-link {
  color: $orange;
  display: inline-block;
  margin-bottom: 15px;
  &:hover {
    color: $orange;
  }
}

#blog {
  .article.main {
    margin-bottom: 15px;
  }

  .article-meta {
    color: $gray-600;
    span {
      display: inline-block;
      margin-right: 10px;
    }
    i {
      color: $gray-600;
    }
  }

  #blog-sidebar {
    ul {
      margin-left: 40px;
    }
    ul li {
      list-style: square;
      color: $gray-600;
    }

    .card {
      margin-bottom: 15px;
      .card-body > ul {
        margin-left: 20px;
      }
    }

    .plugin.plugin-articles {
      margin-bottom: 15px;
      .article-min a {
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
      }
      .article-min:last-child a {
        margin-bottom: 0;
      }
    }

    .plugin.blog-tags ul {
      margin-left: 0;
      li {
        display: inline-block;
        margin: 0 4px 5px 0;
      }
    }

    .article-min a {
      display: block;
    }
  }

  .blog-search-results {
    li {
      margin-bottom: 10px;
      a {
        display: block;
      }
    }
  }
}

.share {
  margin-top: 20px;
  text-align: center;
  .title {
    font-size: 24px;
  }
  a {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }
  a, a:hover, a:focus, a:active {
    color: #fff;
  }
  .facebook-this {
    background: $facebook;
    border: 1px solid darken($facebook, 5%);
    &:hover, &:focus, &:active {
      background: darken($facebook, 5%);
      border: 1px solid darken($facebook, 10%);
    }
    &:focus, &:active {
      border: 1px solid darken($facebook, 15%);
    }
  }
  .tweet-this {
    background: $twitter;
    border: 1px solid darken($twitter, 5%);
    &:hover, &:focus, &:active {
      background: darken($twitter, 5%);
      border: 1px solid darken($twitter, 10%);
    }
    &:focus, &:active {
      border: 1px solid darken($twitter, 15%);
    }
  }
  .gplus-this {
    background: $googleplus;
    border: 1px solid darken($googleplus, 5%);
    &:hover, &:focus, &:active {
      background: darken($googleplus, 5%);
      border: 1px solid darken($googleplus, 10%);
    }
    &:focus, &:active {
      border: 1px solid darken($googleplus, 15%);
    }
  }
  @include media-breakpoint-down(sm) {
    a {
      border-radius: 4px;
      font-size: 14px;
      margin-bottom: 5px;
      padding: 6px 12px;
    }
  }
}

.highlight-js .filename {
  font-weight: normal;
  font-style: italic;
}
